body {
    margin: 0;
     padding: 0;
     width: 100%;
     height: 100%;
     background: radial-gradient(circle farthest-side at 0% 50%,
             #282828 23.5%,
             rgba(255, 170, 0, 0) 0) 21px 30px,
         radial-gradient(circle farthest-side at 0% 50%,
             #2c3539 24%,
             rgba(240, 166, 17, 0) 0) 19px 30px,
         linear-gradient(#282828 14%,
             rgba(240, 166, 17, 0) 0,
             rgba(240, 166, 17, 0) 85%,
             #282828 0) 0 0,
         linear-gradient(150deg,
             #282828 24%,
             #2c3539 0,
             #2c3539 26%,
             rgba(240, 166, 17, 0) 0,
             rgba(240, 166, 17, 0) 74%,
             #2c3539 0,
             #2c3539 76%,
             #282828 0) 0 0,
         linear-gradient(30deg,
             #282828 24%,
             #2c3539 0,
             #2c3539 26%,
             rgba(240, 166, 17, 0) 0,
             rgba(240, 166, 17, 0) 74%,
             #2c3539 0,
             #2c3539 76%,
             #282828 0) 0 0,
         linear-gradient(90deg, #2c3539 2%, #282828 0, #282828 98%, #2c3539 0%) 0 0 #282828;
     background-size: 40px 60px;
}


.spline2 {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    height: 45.5rem;
    width: 100%;
}


        .wrapper {
            display: flex;
            flex-direction: column;
            align-items: center;
            top: 100px;
            position: relative;
            float: left;
            left: 10rem;
        }

        .title {
          font-weight: bolder;
          text-align: center;
          position: relative;
          bottom: 4rem;
  color: rgb(255, 255, 255);
  font-size: 1.2em;
        }

        .card-container {
            width: 300px;
            position: relative;
        }

        .flip-card {
            width: 100%;
            height: 23rem;
            perspective: 1000px;
            text-align: center;
  color: rgb(255, 255, 255);
  font-size: 1.2em;
        }

        .flip-card-inner {
            width: 100%;
            height: 100%;
            position: relative;
            transition: transform 0.8s;
            transform-style: preserve-3d;
        }

        .flip-card.flipped .flip-card-inner {
            transform: rotateY(180deg);
        }

        .flip-card-front, .flip-card-back {
            width: 100%;
            height: 100%;
            position: absolute;
            backface-visibility: hidden;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            background-color: #171717;
            padding: 20px;
            border-radius: 5px;
            border: 2px solid black;
            box-shadow: 4px 4px black;
        }

        .flip-card-back {
            transform: rotateY(180deg);
        }

        .flip-card__input {
          position: relative;
          bottom: 0.1rem;
            width: 250px;
            height: 40px;
            border-radius: 5px;
            border: 2px solid black;
            padding: 5px 10px;
            outline: none;
            font-size: 15px;
            display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5em;
  border-radius: 25px;
  border: none;
  outline: none;
  color: white;
  background-color: #171717;
  box-shadow: inset 2px 5px 10px rgb(33, 33, 33);
        }

        .input-icon {
  height: 1.3em;
  width: 1.3em;
  fill: white;
}



.input-field {
  background: none;
  border: none;
  outline: none;
  width: 100%;
  color: #d3d3d3;
}

.flip-card__btn {
  border: none;
  outline: none;
  transition: .4s ease-in-out;
  background-color: #252525;
  color: white;
  padding: 0.5em;
  padding-left: 1.1em;
  padding-right: 1.1em;
  border-radius: 5px;
  margin-right: 0.5em;
  top: 1rem;
  position: relative;
}

.flip-card__btn:hover {
  background-color: black;
  color: white;
}


        .password-container {
            position: relative;
            width: 250px;
        }

        .toggle-password {
            position: absolute;
            right: 10px;
            top: 50%;
            transform: translateY(-50%);
            cursor: pointer;
        }

        /* From Uiverse.io by Yaya12085 */ 


.label {
  height: 60px;
  width: 120px;
  background-color: #1d1d1d;
  border-radius: 30px;
  -webkit-box-shadow: inset 0 0 5px 4px rgb(0, 0, 0),
    inset 0 0 20px 1px rgba(0, 0, 0, 0.488), 10px 20px 30px rgba(0, 0, 0, 0.096),
    inset 0 0 0 3px rgba(0, 0, 0, 0.3);
  box-shadow: inset 0 0 5px 4px rgb(51, 51, 51),
    inset 0 0 20px 1px rgba(0, 0, 0, 0.488), 10px 20px 30px rgba(0, 0, 0, 0.096),
    inset 0 0 0 3px rgba(0, 0, 0, 0.3);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  cursor: pointer;
  position: relative;
  -webkit-transition: -webkit-transform 0.4s;
  transition: -webkit-transform 0.4s;
  transition: transform 0.4s;
}

.remember{
    position: relative;
    top: 1rem;
    right: 0.5rem;
    color: white;
    font-size: 1.2em;
}

.label:hover {
  -webkit-transform: perspective(100px) rotateX(5deg) rotateY(-5deg);
  transform: perspective(100px) rotateX(5deg) rotateY(-5deg);
}

#checkbox:checked ~ .label:hover {
  -webkit-transform: perspective(100px) rotateX(-5deg) rotateY(5deg);
  transform: perspective(100px) rotateX(-5deg) rotateY(5deg);
}

#checkbox {
  display: none;
}

#checkbox:checked ~ .label::before {
  left: 70px;
  background-color: #000000;
  background-image: linear-gradient(315deg, #000000 0%, #414141 70%);
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.label::before {
  position: absolute;
  content: "";
  height: 40px;
  width: 40px;
  border-radius: 50%;
  background-color: #000000;
  background-image: linear-gradient(
    130deg,
    #757272 10%,
    #ffffff 11%,
    #726f6f 62%
  );
  left: 10px;
  -webkit-box-shadow: 0 2px 1px rgba(0, 0, 0, 0.3),
    10px 10px 10px rgba(0, 0, 0, 0.3);
  box-shadow: 0 2px 1px rgba(0, 0, 0, 0.3), 10px 10px 10px rgba(0, 0, 0, 0.3);
  -webkit-transition: 0.4s;
  transition: 0.4s;
}




input{
	background-color: transparent;
	transform: translate(0,-50%);
	font-family: 'Poppins',sans-serif;
	color: red;
	font-size: 16px;
	font-weight: 500;
	letter-spacing: 0.5px;
	outline: none;
	border:none;
	z-index: 2;
	padding-left: 40px;
}
#lock{
	position: absolute;
	transform: translate(0,-50%);
	top: 46%;
	left: 8px;
	z-index: 2;
	transition: 0.5s;
	width: 28px;
}
#eye-wrapper{
	background-color: white;
	height: 28px;
	width: 28px;
	border-radius: 50%;
	position: absolute;
	transform: translate(0,-50%);
	top: 50%;
	right: 15px;
	transition: 0.5s;
	cursor: pointer;
	z-index: 1;
}
#open,#close{
	position: absolute;
	margin: auto;
	left: 0;
	right: 0;
	top: 0.5px;
	width: 25px;
}
#open{
	display: none;
}
@media screen and (min-width: 451px) {
  a{
    font-size: 18px;
     padding:8px 12px 8px 12px;
  }
}

@media screen and (max-width: 450px) {
  a{
    font-size: 12px;
     padding:5px 8px 5px 8px;
  }
}

.forgot {
  display: flex;
  justify-content: space-between;
  position: relative;
  top: 3rem;
  height: 2rem;
}
.forgot a {
  color: #fff;
  text-decoration: none;
  font-size: 0.8rem;
}
.forgot button {
  background: none;
  border: none;
  color: #fff;
  font-size: 0.8rem;
  cursor: pointer;
}
.forgot button:hover {
  text-decoration: underline;
  color: #fff;
}
