



.material-symbols-rounded {
    font-family: 'Material Icons Rounded';
    font-weight: normal;
    font-style: normal;
    font-size: 18px;
    display: inline-block;
    line-height: 1;
    text-transform: none;
    letter-spacing: normal;
    word-wrap: normal;
    white-space: nowrap;
    direction: ltr;
    vertical-align: middle;
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
    -moz-osx-font-smoothing: grayscale;
    font-feature-settings: 'liga';
}

section {
    width: 100%;
    box-sizing: border-box;
    padding: 2em;
}

.gallery {
    width: 100%;
    box-sizing: border-box;
}



.gallery .row {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.gallery .row .col {
    max-width: 24.999%;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.gallery .row .col .fluid-container {
    width: 99.9999%;
    float: left;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    padding-left: 10px;
    padding-right: 10px;
    margin: 15px 0;
    user-select: none;
    transition: all 0.2s ease;
    display: block;
}

.gallery .row .col .fluid-container.selected {
    width: 99.99%;
    max-width: 49.99%;
}

@media screen and (max-width: 767px) {
    .gallery .row .col .fluid-container {
        width: 99.99%;
    }
    .gallery .row .col {
        max-width: 49.999%;
    }
}

.gallery .row .col .fluid-container .item {
    border-radius: 16px;
    overflow: hidden;
    cursor: zoom-in;
    opacity: 0;
    transition: all 0.4s ease-in-out;
}

.gallery .row .col .fluid-container.inScreen .item {
    opacity: 1;
}

.gallery .row .col .fluid-container .item .img img {
    border-radius: 16px;
    width: 100%;
    transition: transform 0.2s ease-in-out;
}

.gallery .row .col .fluid-container .item .img {
    border-radius: 16px;
    position: relative;
    overflow: hidden;
}

.gallery .row .col .fluid-container .item .img:hover img {
    transform: scale(1.2);
}

.gallery .row .col .fluid-container .item .img:before {
    content: "Open";
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: rgba(57, 57, 57, 0.385);
    color: #fafafa;
    font-size: 32px;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
    transition: opacity 0.2s ease-in-out;
    z-index: 1;
}

.gallery .row .col .fluid-container .item .img:hover:before {
    opacity: 1;
}

.gallery .row .col .fluid-container .item .info {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.2em;
    box-sizing: border-box;
    transform: scale(0.9);
    opacity: 0;
    transition: all 0.3s ease-in-out;
}

.gallery .row .col .fluid-container .item:hover .info {
    transform: scale(1);
    opacity: 1;
}

.gallery .row .col .fluid-container .item .info .title {
    flex: 1;
    text-align: center;
}

.overlayed {
    overflow: hidden !important;
}

.overlay {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    height: 100%;
    width: 100%;
    z-index: 999;
    background-color: rgba(38, 38, 38, 0.544);
    display: none;
}

.overlayed .overlay {
    display: flex;
    justify-content: center;
    align-items: center;
    animation: fadeIn 0.3s ease-in-out;
}

.overlay .viewer {
    box-sizing: border-box;
    user-select: none;
    display: flex;
    justify-content: center;
    align-items: stretch;
    flex-direction: column;
    padding: 60px;
}

.overlay .viewer div {
    display: flex;
    justify-content: center;
    align-items: center;
}

.overlay .viewer div:first-child {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.overlay .viewer img {
    max-height: 80vh;
    max-width: 80vw;
    border-radius: 8px;
}

.alt {
    flex: 1;
    color: white;
}

.close {
    float: right;
    right: 0;
    border: none;
    height: 44px;
    aspect-ratio: 1;
    border-radius: 100%;
    margin: 10px;
    transition: all 0.3s ease;
    cursor: pointer;
}

.close:hover {
    background-color: #fafafa;
    transform: scale(1.1);
}

@keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
}

.upload-form {
    margin: 20px 0;
    text-align: center;
}



